.carousel {
    height: 600px;
    /*margin-bottom: 60px;*/
   margin-top:70px;
}

.carousel .item {
    height: 600px;
    /*background-color: #269abc;*/
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 20;
}

.carousel-caption h2 {
    margin-bottom: 20px;
    /*font-size: 20px;*/
    line-height: 1.8;
    color:black;

}
@media (max-width: 768px) {
    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }

    .carousel .item {
        height: 300px;
    }

    .carousel img {
        min-height: 300px;
    }

    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }
}
